Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2019-10, with the labels that each got.

#181 Fix performance drop when displaying a large number of ornaments
  code/boot.js
  code/ornaments.js
  external/leaflet.canvas-markers.js
  external/rbush.min.js
Labels: enhancement

#179 Improve RegionScoreboard
  code/region_scoreboard.js
  main.js
  style.css
Labels: enhancement

#216 Remove confusing message from artifacts dialog
  code/artifact.js
Labels: enhancement

#233 Portal info: display coordinates without angled brackets
  code/utils_misc.js
Labels: enhancement

#189 Leaflet controls: prevent mobile style on desktop
  code/boot.js
  external/leaflet.draw-src.css
  external/leaflet.draw-src.js
Labels: enhancement

#201 Increase map renderer padding (and make value customizable)
  code/boot.js
  code/map_data_debug.js
  code/map_data_request.js
Labels: enhancement

#248 Consistent errors throwing
  code/chat.js
  code/entity_decode.js
  code/extract_niantic_parameters.js
  code/hooks.js
  main.js
  plugins/cross-links.user.js
  plugins/draw-tools.user.js
Labels: development

#101 Remove some unused stuff from window object
  code/map_data_calc_tools.js
  code/portal_info.js
  docs/core.rst
  main.js
Labels: core, development

#198 Refactor to use common function window.makePermalink (utils_misc.js)
  code/chat.js
  code/portal_detail_display.js
  code/smartphone.js
  code/utils_misc.js
  plugins/missions.user.js
  plugins/portals-list.user.js
Labels: development

#157 Fix miscellaneous bugs in core and plugins
  code/boot.js
  code/smartphone.js
  code/utils_misc.js
  external/L.Geodesic.js
  external/leaflet.draw-src.js
  plugins/bookmarks.user.js
  plugins/cache-portals-on-map.user.js
  plugins/layer-count.user.js
  plugins/missions.user.js
Labels: bug, core, plugin

#158 Improve scale-bar and scoreboard plugins
  plugins/scale-bar.user.js
  plugins/scoreboard.user.js
Labels: plugin

#104 Improve styles of text labels (portal-level-numbers, portal-names, portal-names, regions, keys-on-map)
  plugins/keys-on-map.user.js
  plugins/portal-level-numbers.user.js
  plugins/portal-names.user.js
  plugins/regions.user.js
Labels: plugin

#175 draw-tools: fix mobile-related bugs; add Circle again
  external/leaflet.draw-src.js
  mobile/smartphone.css
  plugins/draw-tools.user.js
Labels: bug, plugin

#250 IITC-Mobile: better handling of uploads
  mobile/app/proguard-rules.pro
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_JSInterface.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebChromeClient.java
Labels: mobile

#161 IITC-Mobile: 'Support DeX desktop mode' option
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_Mobile.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_NavigationHelper.java
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/main/res/xml/preferences.xml
  mobile/build.gradle
  mobile/gradle/wrapper/gradle-wrapper.properties
Labels: mobile

#245 IITC-Mobile: fix some bugs in plugins handling
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_FileManager.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/async/UpdateScript.java
Labels: bug, mobile

#169 IITC-Mobile: fix 'Send screenshot' function
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_Mobile.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/share/ShareActivity.java
  mobile/app/src/main/res/layout/activity_main.xml
  mobile/app/src/main/res/values/arrays.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/main/res/xml/provider_paths.xml
Labels: bug, help wanted, mobile

#239 IITC-Mobile: fix error that made it difficult to pick plugin file
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_FileManager.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/prefs/PluginPreferenceActivity.java
Labels: bug, mobile

#164 IITC-Mobile: fix bugs on login page
  login.css
  main.js
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebView.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebViewClient.java
Labels: bug, mobile

#212 sync: fix and update
  plugins/sync.user.js
Labels: bug, plugin

#205 Implement plugins priority control
  code/boot.js
  code/hooks.js
  code/utils_misc.js
  plugins/bookmarks.user.js
  plugins/cross-links.user.js
  plugins/distance-to-portal.user.js
  plugins/done-links.user.js
  plugins/draw-tools.user.js
  plugins/keys-on-map.user.js
  plugins/keys.user.js
  plugins/missions.user.js
  plugins/player-activity-tracker.user.js
  plugins/speech-search.user.js
  plugins/sync.user.js
  plugins/uniques.user.js
Labels: core, development

#234 Isolate every core module in separate IIFE
  build.py
  code/entity_decode.js
  code/portal_detail.js
Labels: core, development

#238 Move wrapper template to separate file
  .gitignore
  build.py
  buildsettings.py
  main.js
  mobile/plugins/user-location.user.js
  pluginwrapper.py
Labels: development

#266 IITC-Mobile: add 'Plugins' item to main menu
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_Mobile.java
  mobile/app/src/main/res/menu/main.xml
  mobile/app/src/main/res/values/arrays.xml
  mobile/app/src/main/res/values/strings.xml
Labels: enhancement, mobile
