Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2019-12, with the labels that each got.

#291 boot.js: prevent 'baselayerchange' to fire second time (on mobile)
  core/code/boot.js
Labels: bug, core

#289 IITC-Mobile: use native user-agent string
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebView.java
Labels: mobile

#303 sync: fix #292 Error parsing json in sync plugin
  plugins/sync.js
Labels: bug, plugin
