Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2020-12, with the labels that each got.

#311 Fix scale bar on mobile on non-google maps
  core/smartphone.css
  core/style.css
Labels: bug, mobile

#323 IITC Mobile: language change and start screen at first start
  mobile/app/build.gradle
  mobile/app/proguard-rules.pro
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_FileManager.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_Localization.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_Mobile.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_NavigationHelper.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_NotificationHelper.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebChromeClient.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebViewClient.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IntroActivity.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/fragments/IntroSlide.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/fragments/MainSettings.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/fragments/PluginsFragment.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/prefs/ForceUpdatePreference.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/prefs/PluginPreferenceActivity.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/prefs/PreferenceActivity.java
  mobile/app/src/main/res/drawable-xxhdpi/appintro_layers.webp
  mobile/app/src/main/res/drawable-xxhdpi/appintro_location.webp
  mobile/app/src/main/res/drawable-xxhdpi/appintro_logo.webp
  mobile/app/src/main/res/drawable-xxhdpi/appintro_navigation.webp
  mobile/app/src/main/res/drawable-xxhdpi/appintro_nfc.webp
  mobile/app/src/main/res/drawable-xxhdpi/appintro_plugins.webp
  mobile/app/src/main/res/layout/intro_layers.xml
  mobile/app/src/main/res/layout/intro_location.xml
  mobile/app/src/main/res/layout/intro_navigation.xml
  mobile/app/src/main/res/layout/intro_nfc.xml
  mobile/app/src/main/res/layout/intro_plugins.xml
  mobile/app/src/main/res/layout/intro_welcome.xml
  mobile/app/src/main/res/menu/main.xml
  mobile/app/src/main/res/values/arrays.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/main/res/values/strings_terms.xml
  mobile/app/src/main/res/xml/preferences.xml
  mobile/build.gradle
Labels: mobile

#312 Multi-Project-Extension
  plugins/bookmarks.js
  plugins/draw-tools.js
  plugins/multi-projects-extension.js
Labels: plugin

#411 Update targetSdkVersion to 29
  .travis.yml
  mobile/app/build.gradle
  mobile/app/src/main/AndroidManifest.xml
Labels: Ready to merge, mobile

#415 Revert part of "Merge PR #389"
  core/code/chat.js
  core/code/hooks.js
  plugins/cache-portals-on-map.js
Labels: plugin

#310 Fly-link update to 0.4.0
  plugins/fly-links.js
Labels: enhancement, plugin

#393 Refactor linkDetails a bit
  core/code/portal_detail_display.js
Labels: bug

#369 external: update jQuery to 3.5.1
  core/code/boot.js
  core/external/jquery-3.4.1.min.js
  core/external/jquery-3.5.1.min.js
  core/external/versions.md
Labels: development

#382 externals: spectrum.js update to 8fd0a3a5f6a478f319763f999aaf5d8531c52b1d
  plugins/external/spectrum.js
  plugins/external/versions.md
Labels: bug

#422 Fixes errors of importing and exporting Draw Tools
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebChromeClient.java
  plugins/draw-tools.js
Labels: bug, mobile, plugin

#370 external: update Leaflet to 1.7.1+master.7db94fd
  core/external/leaflet-src.js
  core/external/leaflet.css
  core/external/versions.md
Labels: development

#366 external: Update ulog to 2.0.0-beta.7
  core/external/ulog.min.js
  core/external/versions.md
  core/total-conversion-build.js
Labels: development

#328 IITC-Mobile: improve intent-filter for plugins
  mobile/app/src/main/AndroidManifest.xml
Labels: bug, mobile
