Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2020-04, with the labels that each got.

#356 build_plugin.py: some code can be placed outside of wrapper
  build_plugin.py
Labels: development

#342 draw-tools: fix position of middle edit marker for geo lines
  core/external/L.Geodesic.js
  core/external/versions.md
  plugins/external/leaflet.draw-geodesic.js
Labels: bug, plugin

#344 privacy-view: reimplemented; support mobile view
  plugins/privacy-view.js
Labels: enhancement, plugin

#350 basemap-kartverket: update layer name
  plugins/basemap-kartverket.js
Labels: bug, plugin

#351 fix-china-map-offset: apply fix from upstream
  plugins/fix-china-map-offset.js
Labels: bug, plugin

#333 cross-links: improved calculation
  plugins/cross-links.js
Labels: enhancement, plugin
