Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2020-05, with the labels that each got.

#359 Fixes to support Python 3.8
  build.py
Labels: bug, development

#339 Enhance map bounds limiting
  core/code/boot.js
  core/code/utils_misc.js
Labels: bug, core, development

#340 boot.js: change earth radius constant for more precise distance calculations
  core/code/boot.js
Labels: bug, core

#318 Fix some scoreboard issues
  core/code/region_scoreboard.js
  core/style.css
Labels: bug, core

#330 Fix dialogs to fit to small viewport (e.g. on mobile)
  core/code/dialog.js
  core/code/region_scoreboard.js
  core/code/utils_misc.js
  core/style.css
  plugins/debug-raw-portal-data.js
Labels: enhancement

#329 iitc.modos189.ru -> iitc.app
  .travis.yml
  ATTRIBUTION.md
  LICENSE
  README.md
  buildsettings.py
  mobile/app/build.gradle
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/prefs/AboutDialogPreference.java
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/main/res/values/strings_terms.xml
Labels: development
