Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2021-07, with the labels that each got.

#502 portallist: fix KitKat support
  plugins/portals-list.js
Labels: bug, plugin

#499 IITCm: smarter Google login fix for KitKat and below
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebView.java
Labels: bug, mobile

#510 build_plugin.py: support multiline description
  build_plugin.py
Labels: development

#506 external: update jQuery to 3.6.0
  core/code/boot.js
  core/external/jquery-3.5.1.min.js
  core/external/jquery-3.6.0.min.js
  core/external/versions.md
Labels: core, development

#512 externals: update taphold to 5f069454d28c49a9b18228e75d5f18ec43e9a7e9
  core/external/taphold.js
  core/external/versions.md
  plugins/linked-portals-show.js
Labels: core, development

#477 v0.32.0
  core/total-conversion-build.js
  mobile/app/build.gradle
  mobile/plugins/user-location.js
  plugins/bookmarks.js
  plugins/draw-tools.js
  plugins/zoom-slider.js
Labels: development

#522 boot.js: add timeout to defer boot until all the plugins are loaded
  core/code/boot.js
Labels: bug, core

#526 MPE: Fix icon in toolbox
  plugins/multi-projects-extension.js
Labels: bug, plugin

#520 scale-bar: fix when setup executed after iitc is already loaded
  plugins/scale-bar.js
Labels: bug, plugin

#525 overlay-kml: fix sample code to use priority instead of iitcLoaded
  plugins/overlay-kml.js
Labels: enhancement, plugin

#524 missions: use priority instead of iitcLoaded
  plugins/missions.js
Labels: enhancement, plugin

#523 pan-control: use priority instead iitcLoaded hook
  plugins/pan-control.js
Labels: enhancement, plugin

#521 core: avoid stock intel exception
  core/total-conversion-build.js
Labels: bug, core
