Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2021-04, with the labels that each got.

#470 Fix Android KitKat support
  core/code/utils_misc.js
Labels: bug, core

#473 region_scoreboard: fix daylightsaving hour
  core/code/region_scoreboard.js
Labels: bug, core

#465 expose default cooldown time and hack count
  core/code/portal_info.js
  core/total-conversion-build.js
Labels: core, development, enhancement

#306 Plugins: fix handling of placeholder portals
  plugins/ap-stats.js
  plugins/portal-counts.js
  plugins/portals-list.js
Labels: bug, enhancement

#479 missions: fix minor bug in error handler
  plugins/missions.js
Labels: bug, plugin

#482 IITCm: preserve line number information for debugging stack traces
  mobile/app/proguard-rules.pro
Labels: development, mobile
