Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2021-12, with the labels that each got.

#555 Disabling IITC Mobile sending on Google Play
  .travis.yml
Labels: development

#474 core: log more data on error
  core/code/boot.js
  core/code/hooks.js
Labels: core, development

#397 plugins: use Date/toLocaleString instead of own functions
  plugins/player-activity-tracker.js
  plugins/score-cycle-times.js
Labels: development

#553 implement location filters api, and other changes
  core/code/utils_misc.js
  plugins/draw-tools.js
  plugins/fix-china-map-offset.js
  plugins/fly-links.js
  plugins/layer-count.js
  plugins/tidy-links.js
Labels: enhancement, plugin, core

#40 Show linked portals improve
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebView.java
  plugins/linked-portals-show.css
  plugins/linked-portals-show.js
Labels: plugin

#486 Refactor layerChooser, reorganize boot.js, refactor android-specific code
  core/code/app.js
  core/code/artifact.js
  core/code/boot.js
  core/code/dialog.js
  core/code/layerchooser.js
  core/code/location.js
  core/code/map.js
  core/code/map_data_debug.js
  core/code/map_data_request.js
  core/code/ornaments.js
  core/code/panes.js
  core/code/portal_detail_display.js
  core/code/portal_highlighter.js
  core/code/region_scoreboard.js
  core/code/search.js
  core/code/send_request.js
  core/code/sidebar.js
  core/code/smartphone.js
  core/code/status_bar.js
  core/code/utils_file.js
  core/code/utils_misc.js
  core/total-conversion-build.js
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_MapSettings.java
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_WebView.java
  plugins/bookmarks.js
  plugins/cross-links.js
  plugins/done-links.js
  plugins/draw-tools.js
  plugins/farms-find.js
  plugins/fly-links.js
  plugins/hide-portal-levels.js
  plugins/keys-on-map.js
  plugins/minimap.js
  plugins/missions.js
  plugins/player-activity-tracker.js
  plugins/portal-counts.js
  plugins/portal-level-numbers.js
  plugins/portal-names.js
  plugins/portals-list.js
  plugins/regions.js
  plugins/remove-extra-layers.js
  plugins/scoreboard.js
  plugins/tidy-links.js
  plugins/zaprange.js
Labels: core, development
