Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2021-03, with the labels that each got.

#433 basemap-yandex: update to 3.4.0
  plugins/external/Yandex.js
  plugins/external/versions.md
Labels: bug, plugin

#444 API: enhance decodeArray.portal
  core/code/entity_decode.js
  core/code/map_data_render.js
  core/code/map_data_request.js
  plugins/cache-portals-on-map.js
Labels: core, development

#421 fix: chat is between sidebar and sidebar toggle
  core/code/boot.js
  core/style.css
Labels: bug, core

#335 add ESLint + rules
  .eslintrc.json
  .gitignore
  package.json
Labels: development, enhancement

#454 chat: fix public/faction not cleared on move
  core/code/chat.js
Labels: bug, core

#365 external: Update Leaflet.GridLayer.GoogleMutant to v0.11.3
  core/code/boot.js
  core/external/Leaflet.GoogleMutant.js
  core/external/versions.md
  core/smartphone.css
  core/style.css
  plugins/minimap.js
  plugins/scale-bar.js
Labels: development

#427 privacy-plugin: fix privacy control in expanded chat
  core/code/chat.js
  core/style.css
  core/total-conversion-build.js
  plugins/privacy-view.js
Labels: bug, plugin

#455 entiti_decode: log inconsistent portal history occurrences
  core/code/entity_decode.js
Labels: core, development

#461 zoom-slider: fix error starting plugin when no standard zoomControl is available
  plugins/zoom-slider.js
Labels: bug, mobile, plugin

#414 Multi project extension: fixes
  plugins/bookmarks.js
  plugins/draw-tools.js
  plugins/multi-projects-extension.js
Labels: development, plugin

#462 hooks: fix case when hook is removing in event handler
  core/code/hooks.js
Labels: bug, core

#460 fix: dialog failed to collapse sometimes
  core/code/dialog.js
Labels: bug, core

#467 pan-control: fix error starting plugin when no standard zoomControl is available
  plugins/pan-control.js
Labels: bug, plugin

#469 Fix: chat is broken on kitkat
  core/code/chat.js
Labels: bug, core
