Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2022-07, with the labels that each got.

#569 Replace Travis CI with GitHub Actions
  .github/FUNDING.yml
  .github/workflows/build.yml
  .travis.yml
  README.md
  mobile/app/build.gradle
Labels: enhancement

#568 Ornaments & Beacons
  core/code/ornaments.js
  core/external/leaflet.canvas-markers.js
  plugins/images/ornament-Cat-I.png
  plugins/images/ornament-Cat-II.png
  plugins/images/ornament-Cat-III.png
  plugins/images/ornament-Cat-IV.png
  plugins/images/ornament-Cat-V.png
  plugins/images/ornament-Cat-VI.png
  plugins/images/ornament-Fracker.png
  plugins/images/ornament-TOASTY.png
  plugins/images/ornament-ap2.png
  plugins/images/ornament-ap2_v.png
  plugins/ornament-icons.js
Labels: enhancement, core

#516 Chat: make the scrollbar permanent
  core/style.css
Labels: bug

#519 Mission Field-Trip positions
  plugins/missions.js
Labels: bug, enhancement

#557 Missions plugin improvement: Update missions list automatically
  plugins/missions.js
Labels: plugin

#542 Move debug.console to a dedicated plugin
  core/code/boot.js
  core/code/chat.js
  core/code/debugging.js
  core/code/panes.js
  plugins/debug-console.js
Labels: plugin, core, development

#412 Some chat refactoring
  core/code/chat.js
  core/code/hooks.js
  core/style.css
Labels: core, development

#377 EDF (Empty Drawn Fields)
  plugins/draw-tools.js
Labels: enhancement, plugin, Ready to merge

#484 draw-tools: refactor snapToPortals
  plugins/draw-tools.js
Labels: plugin, development

#573 extended Ornaments
  plugins/images/ornament-Cat-I.png
  plugins/images/ornament-Cat-II.png
  plugins/images/ornament-Cat-III.png
  plugins/images/ornament-Cat-IV.png
  plugins/images/ornament-Cat-V.png
  plugins/images/ornament-Cat-VI.png
  plugins/images/ornament-Fracker.png
  plugins/images/ornament-TOASTY.png
  plugins/images/ornament-ap2.png
  plugins/images/ornament-ap2_v.png
  plugins/ornament-icons-extended.js
  plugins/ornament-icons.js
Labels: enhancement, plugin, development

#495 Highlighters refactoring
  plugins/deleted/highlight-infrastructure.js
  plugins/highlight-forgotten.js
  plugins/highlight-hide-team.js
  plugins/highlight-high-level.js
  plugins/highlight-level-color.js
  plugins/highlight-missing-resonators.js
  plugins/highlight-needs-recharge.js
  plugins/highlight-ornaments.js
  plugins/highlight-portal-history.js
  plugins/highlight-portals-my-level.js
  plugins/highlight-weakness.js
Labels: development

#576 Adaptive Icon for android launcher icon
  mobile/app/src/debug/res/drawable-hdpi/ic_iitcm.png
  mobile/app/src/debug/res/drawable-mdpi/ic_iitcm.png
  mobile/app/src/debug/res/drawable-v24/ic_iitcm_background.xml
  mobile/app/src/debug/res/drawable-xhdpi/ic_iitcm.png
  mobile/app/src/debug/res/drawable-xxhdpi/ic_iitcm.png
  mobile/app/src/debug/res/drawable/ic_iitcm_foreground.xml
  mobile/app/src/debug/res/mipmap-anydpi-v26/ic_iitcm.xml
  mobile/app/src/debug/res/mipmap-hdpi/ic_iitcm.png
  mobile/app/src/debug/res/mipmap-mdpi/ic_iitcm.png
  mobile/app/src/debug/res/mipmap-xhdpi/ic_iitcm.png
  mobile/app/src/debug/res/mipmap-xxhdpi/ic_iitcm.png
  mobile/app/src/debug/res/mipmap-xxxhdpi/ic_iitcm.png
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/res/drawable-hdpi/ic_iitcm.png
  mobile/app/src/main/res/drawable-mdpi/ic_iitcm.png
  mobile/app/src/main/res/drawable-v24/ic_iitcm_background.xml
  mobile/app/src/main/res/drawable-xhdpi/ic_iitcm.png
  mobile/app/src/main/res/drawable/ic_iitcm_foreground.xml
  mobile/app/src/main/res/mipmap-anydpi-v26/ic_iitcm.xml
  mobile/app/src/main/res/mipmap-hdpi/ic_iitcm.png
  mobile/app/src/main/res/mipmap-mdpi/ic_iitcm.png
  mobile/app/src/main/res/mipmap-xhdpi/ic_iitcm.png
  mobile/app/src/main/res/mipmap-xxhdpi/ic_iitcm.png
  mobile/app/src/main/res/mipmap-xxxhdpi/ic_iitcm.png
Labels: mobile, development

#575 Show warning about localStorage size in About-IITC
  core/code/dialog_about.js
  core/code/sidebar.js
  core/style.css
Labels: bug, enhancement, core, development

#578 [Release] 0.33.0 (bump versions)
  core/total-conversion-build.js
  mobile/app/build.gradle
  plugins/bookmarks.js
  plugins/cross-links.js
  plugins/done-links.js
  plugins/keys-on-map.js
  plugins/minimap.js
  plugins/portal-counts.js
  plugins/portal-level-numbers.js
  plugins/portal-names.js
  plugins/portals-list.js
  plugins/regions.js
  plugins/scoreboard.js
  plugins/zaprange.js
Labels: development

#581 GH Actions: Removing the PR build from the site after a PR merge
  .github/workflows/merge_pr.yml
  .github/workflows/upload_pr.yml
Labels: development
