Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2022-08, with the labels that each got.

#583 [IITCm] Fix back button doesn't work go back
  mobile/app/src/main/java/org/exarhteam/iitc_mobile/IITC_Mobile.java
Labels: bug, mobile

#579 Updating ESLint rules and checking PR
  .editorconfig
  .eslintignore
  .eslintrc.json
  .github/workflows/reviewdog.yml
  .idea/ingress-intel-total-conversion.iml
  .idea/inspectionProfiles/Project_Default.xml
  .prettierignore
  .prettierrc.json
  package.json
Labels: enhancement, development

#582 IITC Mobile: Beta versions with a separate app id
  mobile/app/build.gradle
  mobile/app/src/beta/res/drawable-v24/ic_iitcm_background.xml
  mobile/app/src/beta/res/drawable/ic_iitcm_foreground.xml
  mobile/app/src/beta/res/mipmap-anydpi-v26/ic_iitcm.xml
  mobile/app/src/beta/res/mipmap-hdpi/ic_iitcm.png
  mobile/app/src/beta/res/mipmap-mdpi/ic_iitcm.png
  mobile/app/src/beta/res/mipmap-xhdpi/ic_iitcm.png
  mobile/app/src/beta/res/mipmap-xxhdpi/ic_iitcm.png
  mobile/app/src/beta/res/mipmap-xxxhdpi/ic_iitcm.png
  mobile/app/src/beta/res/values/app_name.xml
Labels: mobile

#585 Using repository_dispatch to add IITC builds instead of directly committing
  .github/workflows/build.yml
  .github/workflows/build_pr.yml
  .github/workflows/merge_pr.yml
  .github/workflows/send_build_to_website.yml
Labels: development
