Repository IITC-CE/ingress-intel-total-conversion, pull requests merged in 2024-01, with the labels that each got.

#690 SEARCH with scanner link or GUID
  core/code/search.js
  core/total-conversion-build.js
Labels: core

#636 identify moved portals
  plugins/highlight-moved-portals.js
  plugins/links-to-moved-portals.js
Labels: plugin

#688 Plugin link-show-direction: "Static near origin" by default
  plugins/link-show-direction.js
Labels: plugin

#689 chat: convert new messages to old style (fixes #676)
  core/code/chat.js
Labels: core

#686 JSDoc Function Documentation for Codebase
  .github/workflows/jsdoc.yml
  README.md
  core/code/_deprecated.js
  core/code/app.js
  core/code/artifact.js
  core/code/boot.js
  core/code/chat.js
  core/code/data_cache.js
  core/code/dialog.js
  core/code/dialog_about.js
  core/code/entity_decode.js
  core/code/entity_info.js
  core/code/extract_niantic_parameters.js
  core/code/filters.js
  core/code/game_status.js
  core/code/hooks.js
  core/code/idle.js
  core/code/layerchooser.js
  core/code/map.js
  core/code/map_data_calc_tools.js
  core/code/map_data_debug.js
  core/code/map_data_render.js
  core/code/map_data_request.js
  core/code/ornaments.js
  core/code/panes.js
  core/code/player_names.js
  core/code/portal_data.js
  core/code/portal_detail.js
  core/code/portal_detail_display.js
  core/code/portal_detail_display_tools.js
  core/code/portal_highlighter.js
  core/code/portal_info.js
  core/code/portal_marker.js
  core/code/redeeming.js
  core/code/region_scoreboard.js
  core/code/request_handling.js
  core/code/search.js
  core/code/send_request.js
  core/code/sidebar.js
  core/code/smartphone.js
  core/code/status_bar.js
  core/code/utils_file.js
  core/code/utils_misc.js
  core/total-conversion-build.js
  docs/.gitignore
  docs/Makefile
  docs/_static/alertdemo.png
  docs/_static/hello.user.js
  docs/boot.rst
  docs/conf.py
  docs/core.rst
  docs/index.rst
  docs/make.bat
  docs/pluginapi.rst
  jsdoc-conf.json
Labels: enhancement, core, development
